# Exercises

16 Feb 2018. Course release

23 Feb 2018. Exercises covering the topic of gentle introduction

2 Mar 2018. Exercises covering the topic of Flow control 

9 Mar 2018. Exercises  covering the topics of data structures and modules

16 Mar 2018. Exercises covering input and outputs, and errors and exceptions

23 Mar 2018. Capstone project 1

30 Mar 2018. Capstone project 2

***

# Data Structures

Add the number 99 to the end of [44, 55, 66, 77] and store the results in `fancy_list`. Print the result.

In [1]:
fancy_list = [44, 55, 66, 77]
fancy_list.append(99)

In [2]:
fancy_list

[44, 55, 66, 77, 99]

Combined two lists.

[11, 22, 33] and [432, 543, 654]

In [3]:
comb_list_1 = [11, 22, 33]

In [4]:
comb_list_2 = [432, 543, 654]

In [5]:
comb_list_1.extend(comb_list_2)

In [6]:
comb_list_1

[11, 22, 33, 432, 543, 654]

Take [1, 3, 5, 7, 9] and insert 4 between 3 and 5

In [7]:
insert_list = [1, 3, 5, 7, 9]

In [8]:
insert_list.insert(2, 4)

In [9]:
insert_list

[1, 3, 4, 5, 7, 9]

Take [1, 3, 5, 7, 9] and remove 7

In [10]:
remove_list = [1, 3, 5, 7, 9]

In [11]:
remove_list.remove(7)

In [12]:
remove_list

[1, 3, 5, 9]

Remove 2 from [0, 2, 4, 6, 8] and store in the variable `residual`

In [13]:
pop_list = [0, 2, 4, 6, 8]

In [14]:
residual = pop_list.pop(1)

In [15]:
residual

2

Store the value in `pop_list` in a new variable called `clear_list`

Use a method to delete all the values from `clear_list`. Print it to see if you have been successful in deleting all the values

In [16]:
clear_list = pop_list

In [17]:
clear_list

[0, 4, 6, 8]

In [18]:
clear_list.clear()

In [19]:
clear_list

[]

Store the value in `remove_list` in a new variable called `list_index`

Locate the index number of the value 5

In [20]:
list_index = remove_list
list_index

[1, 3, 5, 9]

In [21]:
list_index.index(5)

2

Store [1, 3, 3, 5, 2, 4] in a new variable called `repeat_me`

Count the number of times 3 occur in `repeat_me`

In [22]:
repeat_me = [1, 3, 3, 5, 2, 4]

In [23]:
repeat_me.count(3)

2

Rearrange the numbers in `repeat_me` in descending order

In [24]:
repeat_me.reverse()

In [25]:
repeat_me

[4, 2, 5, 3, 3, 1]

Rearrange the numbers in `repeat_me` in ascending order

In [26]:
repeat_me.sort()

In [27]:
repeat_me

[1, 2, 3, 3, 4, 5]

## List Comprehensions

Harry Porter would like to work out the different combinations from the following 4 numbers

[22, 10, 44, 65]

This is to help him pick a lock. Help him to solve this puzzle by using list comprehension

In [28]:
combs = []
class_1 = [22, 10, 44, 65]

for stud_1 in class_1:
    for stud_2 in class_1:
        if stud_1 != stud_2:
            combs.append((stud_1, stud_2))

combs

[(22, 10),
 (22, 44),
 (22, 65),
 (10, 22),
 (10, 44),
 (10, 65),
 (44, 22),
 (44, 10),
 (44, 65),
 (65, 22),
 (65, 10),
 (65, 44)]

In [29]:
[(stud_1, stud_2) for stud_1 in class_1 for stud_2 in class_1 if stud_1 != stud_2]

[(22, 10),
 (22, 44),
 (22, 65),
 (10, 22),
 (10, 44),
 (10, 65),
 (44, 22),
 (44, 10),
 (44, 65),
 (65, 22),
 (65, 10),
 (65, 44)]

Write a program to create a tuple and store it in a variable called `tuple_data`

In [30]:
tuple_data = (99, 44, 55, 77, 33, 44)

In [31]:
tuple_data

(99, 44, 55, 77, 33, 44)

Unpack `tuple_data` into several variables.

In [32]:
a, c, b, d, e, f = tuple_data

In [33]:
a

99

Add an item `66` to `tuple_data`

In [34]:
tuple_data = tuple_data + (66,)

In [35]:
tuple_data

(99, 44, 55, 77, 33, 44, 66)

Find the unique work in the following list called `data`

In [36]:
data = ["must", "have", "all", "in", "my", "Feeling", "all", "the", "highs", "feeling", "all", "the", "pain", "Let"]

In [37]:
set(data)

{'Feeling',
 'Let',
 'all',
 'feeling',
 'have',
 'highs',
 'in',
 'must',
 'my',
 'pain',
 'the'}

Calculate the number of unque words in the list `data`

In [38]:
len(set(data))

11

***